.property-details{
    display: flex;
    flex-direction: column;
    background-color: var(--light-primary-color);
}


li img{
    height: 50%;
    width: 100%;
    margin: 0;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.container{
    background-color: var(--light-primary-color);
    height: 45%;
    width: 15%;
    margin: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.houses li{
    text-decoration: none;
    color: var(--primary-text);
}
.houses ul{
    margin: 0;
    padding: 0;
}