{% extends "property/index.html" %}
{% load static %}

{% block title %}
{{house.house_number}}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'property/css/house_detail.css' %}">
{% endblock styles %}


{% block body %}
<div class="container">
<div class="house">
        <ul>
            <li><img src="{{MEDIA_URL}}{{house.image}}" alt="House image"></li>
            <div class="details">
            <li>House Number: {{house.house_number}}</li>
            <li>House Tenant: {{house.tenant}}</li>
            <li>Rent: KSh.{{house.rent}}</li>
            {% if house.status == 'Available' %}
              <li id="available"><img src="{% static 'property/svg/available.svg' %}" alt="available">  Status: {{house.status}}</li>
            {% else %}
            <li id="occupied"><img src="{% static 'property/svg/occupied1.svg' %}" alt="occupied"> Status: {{house.status}}</li>
            {% endif %}
            <li>Electric Bill: {{house.electric_bill}}</li>
            <li>Water Bill: {{house.water_bill}}</li>
            <a href="#" id="edit"> Edit <img src="{% static 'property/svg/edit.svg' %}" alt="edit"> </a>
            </div>
        </ul>
</div>
<div class="payment">
<h3>{{house.house_number}}</h3>
<ul>
  <li>Rent Due for month of:</li>
  <li>Rent Paid:</li>
  <li>Rent Balance:</li>
</ul>
<ul>
  <li>Electricity Bill for month :</li>
  <li>Balance carried forward</li>
  <li>Amount Due</li>
</ul>
<ul>
  <li>Water Bill for month</li>
  <li>B/F</li>
  <li>Amount Due</li>
</ul>
</div>
</div>
{% endblock body %}
