{% extends "property/index.html" %}
{% load static %}


{% block title %}
   {{property.name}}
{% endblock title %}


    
{% block styles %}
<link rel="stylesheet" href="{% static 'property/css/property_detail.css' %}">
{% endblock styles %}


{% block jquery %}
  
{% endblock jquery %}
   


{% block body %}

    <div class="property-details">
     <h3>Property: {{property.name}} </h3>
     <h3>Number of Houses: {{property.houses_count}}</h3>
      
      <a href="{% url 'property:add_house' property.id %}">
         <img src="{% static 'property/svg/add_house.svg' %}" alt="Add house">
         ADD HOUSE</a>
    </div>
    <div class="container">
      
      {% for house in houses  %}
      <div class="houses">
        <ul>
         <div class="image">
             <li><img src="{{ MEDIA_URL}}{{house.image}}" alt="House"></li>
         </div>
        <div class="details">
         <li> House number: {{house.house_number}}</li>
         <li>Tenant: {{house.tenant}}</li>
         <li>Rent: {{house.rent}}</li>
         <li>Category: {{house.category}}</li>
         <a href="{%  url 'property:house_detail' property.id house.id %}" id="details">
            Details
            <img src="{% static 'property/svg/details.svg' %}" alt="Details">
         </a>
        </div>
         
         
         </ul>
          </div>
      {% endfor %}

      
     
         
   
    </div>
     {% block page %}
         <div class="pagination">
    <span class="step-links">
        {% if houses.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ houses.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ houses.number }} of {{ houses.paginator.num_pages }}.
        </span>

        {% if houses.has_next %}
            <div class="bottom-element">
            <a href="?page={{houses.next_page_number}}" id="next">
            Next
             <img src="{% static 'property/svg/arrow_forward.svg' %}" alt="forward">
            </a>
             </div>
            <a href="?page={{ houses.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
      {% endblock page %}
{% endblock body %}
    