{% extends "property/index.html" %}
{% load static %}

{% block title %}
    Properties
{% endblock title %}

{% block jquery %}
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script text="javascript">
    setTimeout(fade_out, 3000);
    function fade_out() {
        $(".success").fadeOut().empty();
        $(".error").fadeOut().empty()
    }
</script>
{% endblock jquery %}
  

{% block styles %}
    <link rel="stylesheet" href="{% static 'property/css/properties.css' %}">
{% endblock styles %}


{% block body %}

   {% for message in messages %}
  {% if message.tags == 'success' %}
    <div class="success">
      {{ message }}
    </div>
  {% elif message.tags == 'error' %}
    <div class="error">
      {{ message }}
    </div>
  {% endif %}
{% endfor %}
 <a href="{% url 'property:create_property' %}" class="add_property">
   <img src="{% static 'property/svg/add_home.svg'%}" alt="Add Property" id="add_property">
   Add Property
</a>
<div class="container">
 
{% for property in properties  %}
  <div class="properties">
<h3 class="property-item">Name: {{property.name}}</h3>
<h3 class="property-item">Location: {{property.location}}</h3>
<h3 class="property-item">Houses: {{property.attribute_variable}}</h3>
<a href="{% url 'property:property_detail' property.id %}" id="more">
  View More
  <img src="{% static 'property/svg/more.svg' %}" alt="more">
</a>
</div>
{% endfor %}

</div>

{% endblock body %}
    